body {
    -webkit-user-select: none;
    padding: 3px;
}

html {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*, *:after, *:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

* {
    transition: .15s ease;
    border: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

ul, li {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

#window {
    background-image: linear-gradient(to top, #141E30 , #243B55);
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    overflow: hidden;
}
#window:not(:hover){
    opacity: 0.95;
}

#app {
    position: relative;
    left:3px;
    top:3px;
    background-image: radial-gradient(ellipse at bottom right, #0F2027 , #203A43, #2C5364);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
    border-radius: 4px;
}

.buttons {
    display: flex;
    height: 25px;
    font-family: sans-serif;
}
.icon{
    height: 24px;
    width: 24px;
}
.buttons .button {
    border-radius: 1em;
    color: rgba(0, 0, 0, 0);
    margin: .25em;
    width: 1em;
    height: 1em;
    text-align: center;
    /*color: white;*/
    cursor: pointer;
}

.button:hover {
    box-shadow: inset 0 0 15px 0 rgba(200,200,200,.4);
}

.buttons ul {
    display: flex;
    max-width: fit-content;
}

.buttons .close {
    /*background-color: rgba(200, 10, 10, 1);*/
    background-image: url(../img/closebtn.png);
}

.buttons .min {
    /*background-color: rgba(200, 200, 10, 1);*/
    background-image: url(../img//minbtn.png);
}

.buttons .max {
    /*background-color: rgba(10, 200, 10, 1);*/
    background-image: url(../img//maxbtn.png);
}

.buttons.win ul {
    flex-direction: row-reverse;
    float: right;
}

.buttons.win .min {
    order: 2;
}

.container {
    background-color: rgba(255, 255, 255, .8);
    -webkit-user-select: text;
    padding: .5em;
    margin-top: 1em;
    overflow: auto;
    text-overflow: ellipsis;
}

p {
    margin: 1em 0 .2em;
}

.nodrag {
    -webkit-app-region: no-drag;
}

.draggable {
    -webkit-app-region: drag;
}

.transparent {
    background-color: transparent;
}

.center {
    text-align: center;
}

.main {
    background-color: rgba(200,200,200,.1);
    box-shadow: 0 0 10px 10px rgba(200,200,200,.1);
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-width: 100%;
    height: auto;
}
.frame {
    display: inline-block;
    max-height: 25px;
}

.logo {
    position: absolute;
    max-width: 25px;
    left: 50%;
    top:5px;
    transform: translateX(-50%);
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: .4em 1em;
    padding-bottom: 0;
}

/* width */
::-webkit-scrollbar {
    position: relative;
    right: -.5em;
    width: 10px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-image: linear-gradient(#4e6a79, rgba(77, 122, 153, 0.59));
    border-radius: 4px;
    border: 1px solid #141E30;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#141E30, #243B55);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to top, #141E30, #243B55);
}